/* HTML5 styles */
section, header, meter {
	display: block;
}


body {
    font-size: 13px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 40px;
    color: #111;
}

th, td {
    border: 1px solid #AAA;
	padding: 1px;
}

select.race {
    font-size: 15px;
}

select.course, 
select.vehicle {
    width: 120px;
}

select.place,
select.person {
    font-size: 16px;
}

.hidden {
    display: none;
}

/**************************
**  Visualization
**************************/

#graph {
    margin-top: 40px;
    margin-left: 100px;
    background: #FFF;
    position: relative;
    height: 280px;
}


/**** Graph lines ****/

#graph .graph_lines {
    border-left: 1px solid #DDD;
    position: absolute;
    height: 280px;
    top: -20px;
    left: 0;
}

#graph .graph_lines div {
    width: 99px;
    border-right: 1px solid #DDD;
    float: left;
    position: relative;
    height: 100%; 
}

#graph .graph_lines label {
    position: absolute;
    font-size: 11px;
    color: #888;
    top: -20px;
    display: block;
    width: 30px;
    text-align: center;
    right: -15px;
}

#graph .graph_lines label.zero {
    left: -15px;
}


/**** Canvas ****/

#graph canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/**** Player ****/

#graph .player {
    border: 0px solid #CCC;
    position: absolute;
    top: 0;
    left: 0;
}
#graph #player_2 { top: 70px; }
#graph #player_3 { top: 140px; }
#graph #player_4 { top: 210px; }

#graph meter.round {
    border: 1px solid #111;
    height: 20px;
    width: 640px;
    position: relative;
    overflow: hidden;
}

#graph meter.race {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid #F00;
    text-indent: -9999em;
}

#graph .identity {
    position: absolute;
    top: -12px;
    right: -310px;
    width: 300px;
}

#graph .identity .avatar {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: #CCC;
    color: #FFF;
    border: 1px solid #888;
}

#graph .identity .name {
    padding-left: 5px;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -0.04em;
}

#graph .total {
    position: absolute;
    left: -115px;
    top: -12px;
    text-align: right;
    display: block;
    width: 100px;
    font-size: 42px;
    line-height: 40px;
    
    letter-spacing: -0.04em;
    font-weight: 100;
}

#graph meter.race.race1 { border-color: #E33; }
#graph meter.race.race2 { border-color: #3EE; }
#graph meter.race.race3 { border-color: #3E3; }
#graph meter.race.race4 { border-color: #E3E; }
#graph meter.race.race5 { border-color: #33E; }
#graph meter.race.race6 { border-color: #EE3; }
#graph meter.race.race7 { border-color: #E83; }
#graph meter.race.race8 { border-color: #38E; }
#graph meter.race.race9 { border-color: #83E; }
#graph meter.race.race10 { border-color: #E83; }