
/*
------------------------------
nclud'ed screen styles
Design & Dev by nclud, LLC
http://www.nclud.com
------------------------------
*/

/* HTML5 styles */
section, header, progress, article, meter, figure {
    display: block;
}

html {
    background: -moz-radial-gradient(center center, circle cover, #FFF 0%, #FAFAFA 80%, #DDD 100%) fixed;

}

body {
    font-size: 13px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #111;
}

#wrap {
    width: 940px;
    padding: 10px;
    margin: 0 auto;
    height: 200px;
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 100;
    color: #CCC;
    margin-bottom: 0.5em;
}

th, td {
    border: 1px solid #AAA;
	padding: 1px;
}

/**** Clearfix ****/
 
.clearfix:after {
	clear: both;
	content: '';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
 
/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}

/**************************
**  Header
**************************/

#site_header {
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;

}

#branding {
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
}

/**************************
**  Entry
**************************/

fieldset {
    margin-bottom: 10px;    
}

fieldset legend {
    font-weight: bold;
    margin-bottom: 2px;
}

body.entry fieldset li {
    display: block;
    float: left;
    width: 40px;
}

#race_entry table {
    margin-bottom: 1.0em;
}

select.race {
    font-size: 15px;
}

table select.course, 
table select.vehicle {
    width: 120px;
}

table select.place,
table select.person {
    font-size: 16px;
}

th {
    font-weight: bold;
}

/**************************
**  Setup Round
**************************/

#character_pool {
    width: 336px;
    margin-right: 10px;
    float: left;
}

#character_pool .dropbox {
    float: left;
    margin: 0 20px 30px;
}

.dropbox {
    border: 1px solid #CCC;
    background: #F4F4F4;
    background: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#F4F4F4), color-stop(0.17, #F4F4F4));
    -moz-box-shadow: inset 0 2px 4px hsla(0,0%,0%,.15);
}


.drophover {
    background: #FFF;
    border-color: #AAA;
    -moz-box-shadow:
        0 0 15px hsla(240,100%,70%,.6),
        inset 0 2px 4px hsla(0,0%,0%,.12)
    ;
    -webkit-box-shadow: 0 0 15px hsla(240,100%,70%,.6);
}

.draggee {
    background: #FFF;
    position: relative;
    top: -1px;
    left: -1px;
}

.ui-draggable {
    z-index: 100;
}

body.setup_round .ui-draggable:hover,
.ui-draggable:hover {
    -moz-box-shadow: 0 3px 10px hsla(240,0%,70%,.6);
    -webkit-box-shadow: 0 3px 10px hsla(240,0%,70%,.6);
    border-color: #AAA;
}

.ui-draggable:hover,
.ui-draggable label:hover {
    cursor: move;
}


.avatar.character.ui-draggable label {
    position: absolute;
    left: -18px;
    top: 42px;
    width: 78px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #999;
}
.avatar.character.ui-draggable-dragging label {
    color: #333;
}


body.setup_round #players {
    float: left;
    margin-right: 10px;
}

body.setup_round #players .dropbox {

}

body.setup_round #players article {
    padding: 10px;
    width: 290px;
    height: 72px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    position: relative;
    opacity: 0.7;
}
body.setup_round #players article.person_selected,
body.setup_round #players article.character_selected {
    border-color: #DDD #CCC #BBB;
    background: #FFD;
    -moz-box-shadow: 0 3px 5px hsla(0,0%,0%,.2);
    -webkit-box-shadow: 0 3px 5px hsla(0,0%,0%,.2);
    opacity: 1.0;
}
body.setup_round #players article.person_selected.character_selected.transmission_selected {
    border-color: #ABA;
    background: #DFD;
    -moz-box-shadow: 0 3px 15px hsla(120,100%,30%,.7);
    -webkit-box-shadow: 0 3px 15px hsla(120,100%,30%,.7);
}

body.setup_round #players .person {
    position: absolute;
    top: 10px;
    left: 10px;
}

body.setup_round #players .avatar {
    position: absolute;
    top: 10px;
    right: 10px;
}


body.setup_round #people .person,
body.setup_round #players .person {
    width: 230px;
    height: 40px;
    border: 1px  solid #CCC;
}


.person.draggee strong {
    display: block;
    line-height: 40px;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
    background: #FFF;
}



body.setup_round #people {
    width: 232px;
    float: left;
    margin-right: 20px;
}

body.setup_round #people .dropbox {
    margin-bottom: 10px;
}


#reset {
    float: left;
}


#players select.vehicle {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: none;
}

#players .transmission {
    position: absolute;
    right: 68px;
    bottom: 10px;
    font-weight: bold;
}
#players .transmission.disabled { color: #CCC; }

#players .transmission input {
    margin-left: 8px;
}

body.setup_round #next {
    float: right;
}

body.setup_round table {
    clear: both;
}

body.setup_round #setup {
    clear: both;
}

body.setup_round fieldset {
    margin-bottom: 20px;
}

body.setup_round fieldset li {
    display: block;
    float: left;
    width: 50px;
}

/**************************
**  Visualization
**************************/

#graph {
    margin: 40px 0 10px 80px;
    position: relative;
}


/**** Graph lines ****/

#graph .graph_lines {
    border-left: 1px solid #DDD;
    position: absolute;
    height: 100%;
    top: -20px;
    left: 0;
}

#graph .graph_lines div {
    width: 99px;
    border-right: 1px solid #DDD;
    float: left;
    position: relative;
    height: 100%; 
}

#graph .graph_lines label {
    position: absolute;
    font-size: 11px;
    color: #888;
    top: -20px;
    display: block;
    width: 30px;
    text-align: center;
    right: -15px;
}

#graph .graph_lines label.zero {
    left: -15px;
}


/**** Canvas ****/

#graph canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/**** Player ****/

#graph .player {
    border: 0px solid #CCC;
    position: absolute;
/*    top: 0;*/
    left: 0;
}
/*#graph #player_2 { top: 70px; }
#graph #player_3 { top: 140px; }
#graph #player_4 { top: 210px; }
*/
#graph .round {
    border: 1px solid #AAA;
    height: 20px;
    width: 640px;
    position: relative;
    overflow: hidden;
    background: hsla(0,0%,70%, .2);
    -moz-box-shadow: 0 1px 3px hsla(0,0%,0%,.2);
    -webkit-box-shadow: 0 1px 3px hsla(0,0%,0%,.2);
}

#graph meter.race {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid #F00;
    overflow: hidden;
}

#graph meter.race .points {
    position: absolute;
    top: 20px;
}

#graph meter.race .place {
    position: absolute;
    line-height: 20px;
    left: 6px;
    width: 30px;
    font-size: 14px;
    color: #FFF;
    display: none;
}
#graph meter.race span {
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    position: relative;
    top: -0.2em;
}

#graph meter.race.selected .place,
#graph meter.race:hover .place { display: block; }

#graph .identity {
    position: absolute;
    top: -12px;
    right: -310px;
    width: 300px;
}

#graph .identity .avatar {
    float: left;
    background: #FFF;
}

#graph .identity .name {
    padding-left: 5px;
    font-size: 42px;
    line-height: 40px;
    letter-spacing: -0.015em;
    display: inline;
    font-weight: 900;
}

#graph .total {
    position: absolute;
    left: -115px;
    top: -12px;
    text-align: right;
    display: block;
    width: 100px;
    font-size: 42px;
    line-height: 40px;
    
    letter-spacing: -0.04em;
    font-weight: 100;
}

/**** Character Avatars ****/

.avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #CCC;
}

.avatar.character {
    overflow: visible;
    position: relative;
}

.avatar.character div {
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.avatar.character img {
    position: absolute;
}


/**************************
**  Animate Round button
**************************/

button,
input[type="submit"] {
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC), color-stop(0.2, #F5F5F5), color-stop(0.8, #D5D5D5));
    border: 1px solid #BBB;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    padding: 0 15px;
    margin-bottom: 1.0em;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-box-shadow:
        0 2px 2px hsla(0,0%,0%,.1),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05),
        inset 0 5px 5px hsla(0,0%,100%,.8)
    ;
    -webkit-box-shadow: 0 2px 2px hsla(0,0%,0%,.1);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.7);
}

button:hover,
input[type="submit"]:hover  {
    cursor: pointer;
    background: #FE8;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EC9));
}

button:active,
input[type="submit"]:active  {
    background: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#CCC));
    border-color: #888;
    -moz-box-shadow:
        inset 0 2px 15px hsla(0,0%,0%,.7),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05)
    ;
    -webkit-box-shadow: none;
}

button:disabled,
input[type="submit"]:disabled
/*
,
button[disabled]:hover,
button[disabled]:active 
*/
{
    cursor: default;
    opacity: 0.6;
    border-color: #BBB;
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));    
    -moz-box-shadow:
        0 2px 2px hsla(0,0%,0%,.1),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05),
        inset 0 5px 5px hsla(0,0%,100%,.8)
    ; 
    -webkit-box-shadow: 0 2px 2px hsla(0,0%,0%,.1);
}

#animate_round {
    margin-bottom: 20px;
}

/**************************
**  Round Races
**************************/

#round_races {
    border: 1px solid #CCC;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 20px;
}

#round_races .slider {
    position: relative;
}

#round_races canvas {
    position: absolute;
    top: 48px;
    left: 51px;
}

#round_races .race {
    width: 240px;
    float: left;
    border: 1px solid #CCC;
    margin: 20px 0 20px 20px;
    position: relative;
}

#round_races .race.completed {
    border-color: #ABA;
    background: #DFD;
    -moz-box-shadow: 0 3px 15px hsla(120,100%,30%,.7);
    -webkit-box-shadow: 0 3px 15px hsla(120,100%,30%,.7);
}

#round_races .race h3 {
    padding: 0 10px;
    color: #FFF ;
    line-height: 26px;
}

#round_races li {
    height: 25px;
    border-top: 1px solid #CCC;
    line-height: 25px;
    font-weight: 200;
}

#round_races ul li {
    background: hsla(0,0%,0%,.05);
}

#round_races h4 {
    float: left;
    width: 18px;
    text-align: right;
    line-height: 20px;
    letter-spacing: -0.1em;
    font-size: 17px;
    color: #AAA;
    line-height: 25px;
}

#round_races .player {

}

#round_races .player h4 {
    font-weight: bold;
    color: #111;
}

#round_races dl {
    position: relative;
    border: 1px solid #CCC;
    background: transparent;
    left: -1px;
    top: -1px;
    height: 25px;
    width: 240px;
    
}

#round_races dl.ui-draggable-dragging { background: hsla(0,0%,100%,.7);}

#round_races .avatar {
    position: absolute;
    top: 0px;
    left: 30px;
    border-top: none;
    border-bottom: none;
    height: 25px;
}

#round_races .avatar div {
    height: 35px;
}

#round_races .name {
    position: absolute;
    top: 0px;
    left: 78px;
    font-size: 19px;
    font-weight: 800;
}

#round_races .points {
    position: absolute;
    top: 0;
    right: 38px;
    font-size: 14px;
    background: #111;
    color: #FFF;
    padding: 0px 4px;
    font-weight: bold;

}

#round_races .score {
    position: absolute;
    top: 0px;
    right: 2px;
    letter-spacing: -0.03em;
    font-size: 18px;
    padding: 1px 4px;
    font-weight: 100;

}

/**************************
**  Select Places
**************************/

body.select_places #courses_list {
    overflow: auto;
}

body.select_places #courses_list li {
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}
body.select_places #courses_list li:nth-child(4n) {
    margin-right: 0;
}

body.select_places #courses_list h3 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #888;
}

body.select_places #courses_list li li {
    float: none;
    width: 198px;
    border: 1px solid #CCC;
    margin-bottom: 5px;
    padding: 0 10px;
    line-height: 20px;
    font-weight: bold;
    color: #FFF;
    background: #666;
}

body.select_places #courses_list li li span {

}

body.select_places #view_round {
    float: right;
}

/**************************
**  Drag & Drop UI
**************************/

body.setup_round .ui-draggable {
    -moz-box-shadow: 0 1px 2px hsla(0,0%,0%,.15);
    -webkit-box-shadow: 0 1px 2px hsla(0,0%,0%,.15);
}

.drop:hover {z-index: 200;}

/**************************
**  whatever
**************************/

/*table#data { display: none;}*/

/**************************
**  Site Footer
**************************/

#site_footer {
    border-top: 1px solid #DDD;
    padding-top: 10px;
    clear: both;
}

#site_footer .nclud a {
    font-size: 14px;
    display: block;
    float: right;
    background: url(../img/nclud_icon.png) no-repeat;
    line-height: 22px;
    padding-left: 22px;
    font-weight: 500;
    font-style: italic;
    color: #AAF;
    text-decoration: none;
}

#site_footer .nclud a:hover {
    color: #222;
}
