@charset "UTF-8";
/*
------------------------------
nclud'ed screen styles
Design & Dev by nclud, LLC
http://www.nclud.com
------------------------------
*/

/* HTML5 styles */
section, header, progress, article, meter, figure {
    display: block;
}


body {
    font-size: 13px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #111;
}

#wrap {
    width: 940px;
    padding: 20px 10px;
    margin: 0 auto;
/*    overflow: hidden;*/
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #CCC;
    margin-bottom: 0.5em;
}

th, td {
    border: 1px solid #AAA;
	padding: 1px;
}

/**************************
**  Entry
**************************/

fieldset {
    margin-bottom: 10px;    
}

fieldset legend {
    font-weight: bold;
    margin-bottom: 2px;
}

body.entry fieldset li {
    display: block;
    float: left;
    width: 40px;
}

#race_entry table {
    margin-bottom: 1.0em;
}

select.race {
    font-size: 15px;
}

select.course, 
select.vehicle {
    width: 120px;
}

select.place,
select.person {
    font-size: 16px;
}

th {
    font-weight: bold;
}

/**************************
**  Setup Round
**************************/

#character_pool {
    width: 336px;
    margin-right: 10px;
    float: left;
}

#character_pool .dropbox {
    float: left;
    margin: 0 20px 30px;
}

.dropbox {
    border: 1px solid #CCC;
    background: #F4F4F4;
    -moz-box-shadow: inset 0 2px 4px hsla(0,0%,0%,.15);
}


.drophover {
    background: #FFF;
    border-color: #AAA;
    -moz-box-shadow:
        0 0 15px hsla(240,100%,70%,.6),
        inset 0 2px 4px hsla(0,0%,0%,.12)
    ;
    -webkit-box-shadow: 0 0 15px hsla(240,100%,70%,.6);
}

.dropbox .avatar {
    position: relative;
    top: -1px;
    left: -1px;
}

.avatar.character.ui-draggable {
    background: #FFF;
    z-index: 100;
}

.ui-draggable:hover,
.ui-draggable label:hover {
    cursor: move;
}

.ui-draggable-dragging {
    -moz-box-shadow: 0 4px 5px hsla(0,0%,0%,.2);
    -webkit-box-shadow: 0 4px 5px hsla(0,0%,0%,.2);
}

.avatar.character.ui-draggable label {
    position: absolute;
    left: -18px;
    top: 42px;
    width: 78px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #999;

}
.avatar.character.ui-draggable-dragging label {
    color: #333;
}


body.setup_round #players {
    float: left;
    margin-right: 10px;
}

body.setup_round #players .dropbox {

}

body.setup_round #players article {
    padding: 10px;
    width: 320px;
    height: 72px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    position: relative;

}

body.setup_round #players .person {
    position: absolute;
    top: 10px;
    left: 22px;
}

body.setup_round #players .avatar {
    position: absolute;
    top: 10px;
    left: 280px;
}


body.setup_round .person {
    width: 230px;
    height: 40px;
    border: 1px  solid #CCC;
}

.nametag.person {
    z-index: 100;
}

.nametag.person strong {
    display: block;
    line-height: 40px;
    padding-left: 10px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -0.03em;
    background: #FFF;
}



body.setup_round #people {
    width: 242px;
    float: left;
}

body.setup_round #people .dropbox {
    margin-bottom: 10px;
}

body.setup_round #people .nametag {
    position: relative;
    top: -1px;
    left: -1px;
}

#reset {
    clear: both;
}


/**************************
**  Visualization
**************************/

#graph {
    margin: 40px 0 10px 80px;
    background: #FFF;
    position: relative;
    height: 280px;
}


/**** Graph lines ****/

#graph .graph_lines {
    border-left: 1px solid #DDD;
    position: absolute;
    height: 280px;
    top: -20px;
    left: 0;
}

#graph .graph_lines div {
    width: 99px;
    border-right: 1px solid #DDD;
    float: left;
    position: relative;
    height: 100%; 
}

#graph .graph_lines label {
    position: absolute;
    font-size: 11px;
    color: #888;
    top: -20px;
    display: block;
    width: 30px;
    text-align: center;
    right: -15px;
}

#graph .graph_lines label.zero {
    left: -15px;
}


/**** Canvas ****/

#graph canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/**** Player ****/

#graph .player {
    border: 0px solid #CCC;
    position: absolute;
    top: 0;
    left: 0;
}
#graph #player_2 { top: 70px; }
#graph #player_3 { top: 140px; }
#graph #player_4 { top: 210px; }

#graph progress.round {
    border: 1px solid #AAA;
    height: 20px;
    width: 640px;
    position: relative;
    overflow: hidden;
    background: hsla(0,0%,70%, .2);
}

#graph meter.race {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid #F00;
    overflow: hidden;
}

#graph meter.race .points {
    position: absolute;
    top: 20px;
}

#graph meter.race .place {
    position: absolute;
    line-height: 20px;
    left: 6px;
    width: 30px;
    font-size: 14px;
    color: #FFF;
    display: none;
}
#graph meter.race span {
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    position: relative;
    top: -0.2em;
}

#graph meter.race.selected .place,
#graph meter.race:hover .place { display: block; }

#graph .identity {
    position: absolute;
    top: -12px;
    right: -310px;
    width: 300px;
}

#graph .identity .avatar {
    float: left;
    background: #FFF;
}

#graph .identity .name {
    padding-left: 5px;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -0.04em;
    display: inline;
    font-weight: bold;
}

#graph .total {
    position: absolute;
    left: -115px;
    top: -12px;
    text-align: right;
    display: block;
    width: 100px;
    font-size: 42px;
    line-height: 40px;
    
    letter-spacing: -0.04em;
    font-weight: 100;
}

/**** Character Avatars ****/

.avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #CCC;
}

.avatar.character {
    overflow: visible;
    position: relative;
}

.avatar.character div {
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.avatar.character img {
    position: absolute;
}


.avatar.character.baby_mario div,
.avatar.character.baby_daisy div,
.avatar.character.toadette div,
.avatar.character.daisy div,
.avatar.character.yoshi div,
.avatar.character.birdo div,
.avatar.character.diddy_kong div,
.avatar.character.bowser div {
    left: 0;
}

.avatar.character.baby_luigi div,
.avatar.character.baby_peach div,
.avatar.character.toad div,
.avatar.character.koopa_troopa div,
.avatar.character.dry_bones div,
.avatar.character.mario div,
.avatar.character.luigi div,
.avatar.character.peach div,
.avatar.character.bowser_jr div,
.avatar.character.wario div,
.avatar.character.waluigi div,
.avatar.character.donkey_kong div,
.avatar.character.king_boo div,
.avatar.character.rosalina div,
.avatar.character.funky_kong div,
.avatar.character.dry_bowser div {
    right: 0;
}

.avatar.character.baby_mario img { top: -0px; left: 0px; }
.avatar.character.baby_luigi img { top: -0px; left: -45px; }
.avatar.character.baby_peach img { top: -0px; left: -90px; }
.avatar.character.baby_daisy img { top: -0px; left: -135px; }
.avatar.character.toad img { top: -45px; left: 0px; }
.avatar.character.toadette img { top: -45px; left: -45px; }
.avatar.character.koopa_troopa img { top: -45px; left: -90px; }
.avatar.character.dry_bones img { top: -45px; left: -135px; }
.avatar.character.mario img { top: -90px; left: 0px; }
.avatar.character.luigi img { top: -90px; left: -45px; }
.avatar.character.peach img { top: -90px; left: -90px; }
.avatar.character.daisy img { top: -90px; left: -135px; }
.avatar.character.yoshi img { top: -135px; left: 0px; }
.avatar.character.birdo img { top: -135px; left: -45px; }
.avatar.character.diddy_kong img { top: -135px; left: -90px; }
.avatar.character.bowser_jr img { top: -135px; left: -135px; }
.avatar.character.wario img { top: -180px; left: 0px; }
.avatar.character.waluigi img { top: -180px; left: -45px; }
.avatar.character.donkey_kong img { top: -180px; left: -90px; }
.avatar.character.bowser img { top: -180px; left: -135px; }
.avatar.character.king_boo img { top: -225px; left: 0px; }
.avatar.character.rosalina img { top: -225px; left: -45px; }
.avatar.character.funky_kong img { top: -225px; left: -90px; }
.avatar.character.dry_bowser img { top: -225px; left: -135px; }

#graph .player.baby_mario progress.round { background-color: hsla(0,100%,50%,.175); }
#graph .player.baby_luigi progress.round { background-color: hsla(110,100%,35%,.175); }
#graph .player.baby_peach progress.round { background-color: hsla(340,50%,50%,.175); }
#graph .player.baby_daisy progress.round { background-color: hsla(45,75%,50%,.175); }
#graph .player.toad progress.round { background-color: hsla(250,100%,50%,.175); }
#graph .player.toadette progress.round { background-color: hsla(330,65%,50%,.175); }
#graph .player.koopa_troopa progress.round { background-color: hsla(50,100%,50%,.175); }
#graph .player.dry_bones progress.round { background-color: hsla(240,5%,60%,.175); }
#graph .player.mario progress.round { background-color: hsla(0,100%,50%,.175); }
#graph .player.luigi progress.round { background-color: hsla(110,90%,35%,.175); }
#graph .player.peach progress.round { background-color: hsla(60,100%,50%,.175); }
#graph .player.daisy progress.round { background-color: hsla(45,80%,50%,.175); }
#graph .player.yoshi progress.round { background-color: hsla(120,60%,50%,.175); }
#graph .player.birdo progress.round { background-color: hsla(300,100%,50%,.175); }
#graph .player.diddy_kong progress.round { background-color: hsla(15,100%,30%,.175); }
#graph .player.bowser_jr progress.round { background-color: hsla(75,100%,40%,.175); }
#graph .player.wario progress.round { background-color: hsla(60,100%,50%,.175); }
#graph .player.waluigi progress.round { background-color: hsla(270,100%,50%,.175); }
#graph .player.donkey_kong progress.round { background-color: hsla(15,80%,30%,.175); }
#graph .player.bowser progress.round { background-color: hsla(15,100%,50%,.175); }
#graph .player.king_boo progress.round { background-color: hsla(0,0%,70%,.175); }
#graph .player.rosalina progress.round { background-color: hsla(170,60%,50%,.175); }
#graph .player.funky_kong progress.round { background-color: hsla(30,20%,50%,.175); }
#graph .player.dry_bowser progress.round { background-color: hsla(55,10%,45%,.175); }



/**************************
**  Animate Round button
**************************/

button,
input[type="submit"] {
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC), color-stop(0.2, #F5F5F5), color-stop(0.8, #D5D5D5));
    border: 1px solid #BBB;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    padding: 0 15px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-box-shadow:
        0 2px 2px hsla(0,0%,0%,.1),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05),
        inset 0 5px 5px hsla(0,0%,100%,.8)
    ;
    -webkit-box-shadow: 0 2px 2px hsla(0,0%,0%,.1);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.7);
}

button:hover,
input[type="submit"]:hover  {
    cursor: pointer;
    background: #FE8;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EC9));
}

button:active,
input[type="submit"]:active  {
    background: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#CCC));
    border-color: #888;
    -moz-box-shadow:
        inset 0 2px 15px hsla(0,0%,0%,.7),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05)
    ;
    -webkit-box-shadow: none;
}

button:disabled,
input[type="submit"]:disabled
/*
,
button[disabled]:hover,
button[disabled]:active 
*/
{
    cursor: default;
    opacity: 0.6;
    border-color: #BBB;
    background: #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));    
    -moz-box-shadow:
        0 2px 2px hsla(0,0%,0%,.1),
        inset 0 40px 32px -16px hsla(0,0%,100%,.7),
        inset 0 -5px 5px hsla(0,0%,0%,.05),
        inset 0 5px 5px hsla(0,0%,100%,.8)
    ; 
    -webkit-box-shadow: 0 2px 2px hsla(0,0%,0%,.1);
}

#animate_round {
    margin-bottom: 20px;
}

/**************************
**  Round Races
**************************/

#round_races {
    border: 1px solid #CCC;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 20px;
}

#round_races .slider {
    position: relative;
}

#round_races canvas {
    position: absolute;
    top: 48px;
    left: 51px;
}

#round_races .race {
    width: 240px;
    float: left;
    border: 1px solid #CCC;
    margin: 20px 0 20px 20px;
    position: relative;
}

#round_races .race h3 {
    padding: 0 10px;
    color: #FFF ;
    line-height: 26px;
}

#round_races li {
    height: 25px;
    border-top: 1px solid #CCC;
    line-height: 25px;
    font-weight: 200;
}

#round_races h4 {
    float: left;
    width: 18px;
    text-align: right;
    line-height: 20px;
    letter-spacing: -0.1em;
    font-size: 17px;
    color: #AAA;
    line-height: 25px;
}

#round_races .player {

}

#round_races .player h4 {
    font-weight: bold;
    color: #111;
}

#round_races dl {
    position: relative;
}

#round_races .avatar {
    position: absolute;
    top: 0px;
    left: 30px;
    border-top: none;
    border-bottom: none;
    height: 25px;
}

#round_races .avatar div {
    height: 35px;
}

#round_races .name {
    position: absolute;
    top: 0px;
    left: 78px;
    font-size: 19px;
    letter-spacing: -0.03em;
    font-weight: bold;
}

#round_races .points {
    position: absolute;
    top: 0;
    right: 38px;
    font-size: 14px;
    background: #111;
    color: #FFF;
    padding: 0px 4px;
    font-weight: bold;

}

#round_races .score {
    position: absolute;
    top: 0px;
    right: 2px;
    letter-spacing: -0.03em;
    font-size: 18px;
    padding: 1px 4px;
    font-weight: 100;

}


/**** Colors ****/
#graph meter.race.luigi_circuit { border-color: #3C5; }
#graph meter.race.luigi_circuit.selected,
#graph meter.race.luigi_circuit:hover,
#round_races .race.luigi_circuit h3 { background-color: #3C5; }
#graph meter.race.moo_moo_meadows { border-color: #AA5; }
#graph meter.race.moo_moo_meadows.selected,
#graph meter.race.moo_moo_meadows:hover,
#round_races .race.moo_moo_meadows h3 { background-color: #AA5; }
#graph meter.race.mushroom_gorge { border-color: #F22; }
#graph meter.race.mushroom_gorge.selected,
#graph meter.race.mushroom_gorge:hover,
#round_races .race.mushroom_gorge h3 { background-color: #F22; }
#graph meter.race.toads_factory { border-color: #D6D; }
#graph meter.race.toads_factory.selected,
#graph meter.race.toads_factory:hover,
#round_races .race.toads_factory h3 { background-color: #D6D; }
#graph meter.race.mario_circuit { border-color: #E11; }
#graph meter.race.mario_circuit.selected,
#graph meter.race.mario_circuit:hover,
#round_races .race.mario_circuit h3 { background-color: #E11; }
#graph meter.race.coconut_mall { border-color: #A8A; }
#graph meter.race.coconut_mall.selected,
#graph meter.race.coconut_mall:hover,
#round_races .race.coconut_mall h3 { background-color: #A8A; }
#graph meter.race.dks_snowboard_cross { border-color: #EEE; }
#graph meter.race.dks_snowboard_cross.selected,
#graph meter.race.dks_snowboard_cross:hover,
#round_races .race.dks_snowboard_cross h3 { background-color: #EEE; }
#graph meter.race.warios_gold_mine { border-color: #EE2; }
#graph meter.race.warios_gold_mine.selected,
#graph meter.race.warios_gold_mine:hover,
#round_races .race.warios_gold_mine h3 { background-color: #EE2; }
#graph meter.race.daisy_circuit { border-color: #F93; }
#graph meter.race.daisy_circuit.selected,
#graph meter.race.daisy_circuit:hover,
#round_races .race.daisy_circuit h3 { background-color: #F93; }
#graph meter.race.koopa_cape { border-color: #789; }
#graph meter.race.koopa_cape.selected,
#graph meter.race.koopa_cape:hover,
#round_races .race.koopa_cape h3 { background-color: #789; }
#graph meter.race.maple_treeway { border-color: #C94; }
#graph meter.race.maple_treeway.selected,
#graph meter.race.maple_treeway:hover,
#round_races .race.maple_treeway h3 { background-color: #C94; }
#graph meter.race.grumble_volcano { border-color: #C82; }
#graph meter.race.grumble_volcano.selected,
#graph meter.race.grumble_volcano:hover,
#round_races .race.grumble_volcano h3 { background-color: #C82; }
#graph meter.race.dry_dry_ruins { border-color: #EC6; }
#graph meter.race.dry_dry_ruins.selected,
#graph meter.race.dry_dry_ruins:hover,
#round_races .race.dry_dry_ruins h3 { background-color: #EC6; }
#graph meter.race.moonview_highway { border-color: #343; }
#graph meter.race.moonview_highway.selected,
#graph meter.race.moonview_highway:hover,
#round_races .race.moonview_highway h3 { background-color: #343; }
#graph meter.race.bowsers_castle { border-color: #116; }
#graph meter.race.bowsers_castle.selected,
#graph meter.race.bowsers_castle:hover,
#round_races .race.bowsers_castle h3 { background-color: #116; }
#graph meter.race.rainbow_road { border-color: #000; }
#graph meter.race.rainbow_road.selected,
#graph meter.race.rainbow_road:hover,
#round_races .race.rainbow_road h3 { background-color: #000; }
#graph meter.race.gcn_peach_beach { border-color: #66E; }
#graph meter.race.gcn_peach_beach.selected,
#graph meter.race.gcn_peach_beach:hover,
#round_races .race.gcn_peach_beach h3 { background-color: #66E; }
#graph meter.race.ds_yoshi_falls { border-color: #2D2; }
#graph meter.race.ds_yoshi_falls.selected,
#graph meter.race.ds_yoshi_falls:hover,
#round_races .race.ds_yoshi_falls h3 { background-color: #2D2; }
#graph meter.race.snes_ghost_valley_2 { border-color: #442; }
#graph meter.race.snes_ghost_valley_2.selected,
#graph meter.race.snes_ghost_valley_2:hover,
#round_races .race.snes_ghost_valley_2 h3 { background-color: #442; }
#graph meter.race.n64_mario_raceway { border-color: #C22; }
#graph meter.race.n64_mario_raceway.selected,
#graph meter.race.n64_mario_raceway:hover,
#round_races .race.n64_mario_raceway h3 { background-color: #C22; }
#graph meter.race.n64_sherbet_land { border-color: #DDE; }
#graph meter.race.n64_sherbet_land.selected,
#graph meter.race.n64_sherbet_land:hover,
#round_races .race.n64_sherbet_land h3 { background-color: #DDE; }
#graph meter.race.gba_shy_guy_beach { border-color: #EE8; }
#graph meter.race.gba_shy_guy_beach.selected,
#graph meter.race.gba_shy_guy_beach:hover,
#round_races .race.gba_shy_guy_beach h3 { background-color: #EE8; }
#graph meter.race.ds_delfino_square { border-color: #AAC; }
#graph meter.race.ds_delfino_square.selected,
#graph meter.race.ds_delfino_square:hover,
#round_races .race.ds_delfino_square h3 { background-color: #AAC; }
#graph meter.race.gcn_waluigi_stadium { border-color: #963; }
#graph meter.race.gcn_waluigi_stadium.selected,
#graph meter.race.gcn_waluigi_stadium:hover,
#round_races .race.gcn_waluigi_stadium h3 { background-color: #963; }
#graph meter.race.ds_desert_hills { border-color: #FDB; }
#graph meter.race.ds_desert_hills.selected,
#graph meter.race.ds_desert_hills:hover,
#round_races .race.ds_desert_hills h3 { background-color: #FDB; }
#graph meter.race.gba_bowser_castle_3 { border-color: #F63; }
#graph meter.race.gba_bowser_castle_3.selected,
#graph meter.race.gba_bowser_castle_3:hover,
#round_races .race.gba_bowser_castle_3 h3 { background-color: #F63; }
#graph meter.race.n64_dks_jungle_parkway { border-color: #FD3; }
#graph meter.race.n64_dks_jungle_parkway.selected,
#graph meter.race.n64_dks_jungle_parkway:hover,
#round_races .race.n64_dks_jungle_parkway h3 { background-color: #FD3; }
#graph meter.race.gcn_mario_circuit { border-color: #292; }
#graph meter.race.gcn_mario_circuit.selected,
#graph meter.race.gcn_mario_circuit:hover,
#round_races .race.gcn_mario_circuit h3 { background-color: #292; }
#graph meter.race.snes_mario_circuit_3 { border-color: #EE2; }
#graph meter.race.snes_mario_circuit_3.selected,
#graph meter.race.snes_mario_circuit_3:hover,
#round_races .race.snes_mario_circuit_3 h3 { background-color: #EE2; }
#graph meter.race.ds_peach_gardens { border-color: #8A8; }
#graph meter.race.ds_peach_gardens.selected,
#graph meter.race.ds_peach_gardens:hover,
#round_races .race.ds_peach_gardens h3 { background-color: #8A8; }
#graph meter.race.gcn_dk_mountain { border-color: #8AA; }
#graph meter.race.gcn_dk_mountain.selected,
#graph meter.race.gcn_dk_mountain:hover,
#round_races .race.gcn_dk_mountain h3 { background-color: #8AA; }
#graph meter.race.n64_bowsers_castle { border-color: #33A; }
#graph meter.race.n64_bowsers_castle.selected,
#graph meter.race.n64_bowsers_castle:hover,
#round_races .race.n64_bowsers_castle h3 { background-color: #33A; }

#round_races .race.dks_snowboard_cross h3,
#graph meter.race.dks_snowboard_cross .place,
#round_races .race.warios_gold_mine h3,
#graph meter.race.warios_gold_mine .place,
#round_races .race.n64_sherbet_land h3,
#graph meter.race.n64_sherbet_land .place,
#round_races .race.gba_shy_guy_beach h3,
#graph meter.race.gba_shy_guy_beach .place,
#round_races .race.n64_dks_jungle_parkway h3,
#graph meter.race.n64_dks_jungle_parkway .place,
#round_races .race.snes_mario_circuit_3 h3,
#graph meter.race.snes_mario_circuit_3 .place,
#round_races .race.ds_desert_hills h3,
#graph meter.race.ds_desert_hills .place { 
    color: #111; 
}

