/* HTML5 styles */
section, header, meter, figure {
	display: block;
}


body {
    font-size: 13px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #111;
}

#wrap {
    width: 940px;
    padding: 20px 10px;
    margin: 0 auto;
}

th, td {
    border: 1px solid #AAA;
	padding: 1px;
}

select.race {
    font-size: 15px;
}

select.course, 
select.vehicle {
    width: 120px;
}

select.place,
select.person {
    font-size: 16px;
}

.hidden {
    display: none;
}

/**************************
**  Visualization
**************************/

#graph {
    margin-top: 40px;
    margin-left: 100px;
    background: #FFF;
    position: relative;
    height: 280px;
}


/**** Graph lines ****/

#graph .graph_lines {
    border-left: 1px solid #DDD;
    position: absolute;
    height: 280px;
    top: -20px;
    left: 0;
}

#graph .graph_lines div {
    width: 99px;
    border-right: 1px solid #DDD;
    float: left;
    position: relative;
    height: 100%; 
}

#graph .graph_lines label {
    position: absolute;
    font-size: 11px;
    color: #888;
    top: -20px;
    display: block;
    width: 30px;
    text-align: center;
    right: -15px;
}

#graph .graph_lines label.zero {
    left: -15px;
}


/**** Canvas ****/

#graph canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/**** Player ****/

#graph .player {
    border: 0px solid #CCC;
    position: absolute;
    top: 0;
    left: 0;
}
#graph #player_2 { top: 70px; }
#graph #player_3 { top: 140px; }
#graph #player_4 { top: 210px; }

#graph meter.round {
    border: 1px solid #111;
    height: 20px;
    width: 640px;
    position: relative;
    overflow: hidden;
    background: hsla(0,0%,50%, .05);
}

#graph meter.race {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid #F00;
    text-indent: -9999em;
}

#graph .identity {
    position: absolute;
    top: -12px;
    right: -310px;
    width: 300px;
}

#graph .identity .avatar {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: #CCC;
    color: #FFF;
    border: 1px solid #888;
}

#graph .identity .name {
    padding-left: 5px;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -0.04em;
    display: inline;
    font-weight: bold;
}

#graph .total {
    position: absolute;
    left: -115px;
    top: -12px;
    text-align: right;
    display: block;
    width: 100px;
    font-size: 42px;
    line-height: 40px;
    
    letter-spacing: -0.04em;
    font-weight: 100;
}

/*
#graph #graph meter.race.race1 { border-color: #E33; }
#graph #graph meter.race.race2 { border-color: #3EE; }
#graph #graph meter.race.race3 { border-color: #3E3; }
#graph #graph meter.race.race4 { border-color: #E3E; }
#graph #graph meter.race.race5 { border-color: #33E; }
#graph #graph meter.race.race6 { border-color: #EE3; }
#graph #graph meter.race.race7 { border-color: #E83; }
#graph #graph meter.race.race8 { border-color: #38E; }
#graph #graph meter.race.race9 { border-color: #83E; }
#graph #graph meter.race.race10 { border-color: #E83; }



meter.race {
    border: 2px solid;
    padding: 2px;
    width: 200px;
    margin-bottom: 4px;
}

*/

/**** Colors ****/
#graph meter.race.luigi_circuit { border-color: #3C5; }
#graph meter.race.moo_moo_meadows { border-color: #882; }
#graph meter.race.mushroom_gorge { border-color: #F22; }
#graph meter.race.toads_factory { border-color: #D6D; }
#graph meter.race.mario_circuit { border-color: #D55; }
#graph meter.race.coconut_mall { border-color: #AAA; }
#graph meter.race.dks_snowboard_cross { border-color: #CCD; }
#graph meter.race.warios_gold_mine { border-color: #EE2; }
#graph meter.race.daisy_circuit { border-color: #F93; }
#graph meter.race.koopa_cape { border-color: #779; }
#graph meter.race.maple_treeway { border-color: #C94; }
#graph meter.race.grumble_volcano { border-color: #963; }
#graph meter.race.dry_dry_ruins { border-color: #EC2; }
#graph meter.race.moonview_highway { border-color: #222; }
#graph meter.race.bowsers_castle { border-color: #116; }
#graph meter.race.rainbow_road { border-color: #000; }
#graph meter.race.gcn_peach_beach { border-color: #66E; }
#graph meter.race.ds_yoshi_falls { border-color: #2D2; }
#graph meter.race.snes_ghost_valley_2 { border-color: #442; }
#graph meter.race.n64_mario_raceway { border-color: #C22; }
#graph meter.race.n64_sherbet_land { border-color: #CCE; }
#graph meter.race.gba_shy_guy_beach { border-color: #EE8; }
#graph meter.race.ds_delfino_square { border-color: #AAA; }
#graph meter.race.gcn_waluigi_stadium { border-color: #963; }
#graph meter.race.ds_desert_hills { border-color: #FA0; }
#graph meter.race.gba_bowser_castle_3 { border-color: #F63; }
#graph meter.race.n64_dks_jungle_parkway { border-color: #FB6; }
#graph meter.race.gcn_mario_circuit { border-color: #292; }
#graph meter.race.snes_mario_circuit_3 { border-color: #EE2; }
#graph meter.race.ds_peach_gardens { border-color: #8A8; }
#graph meter.race.gcn_dk_mountain { border-color: #89A; }
#graph meter.race.n64_bowsers_castle { border-color: #33A; }

